
.orderstatus{
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #FFE5B2;
  color: #CA8300;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.orderdone{
  background: #D8F6D9;
  color: #27A527;
  
}
.printtable {
  width: 80%;
  padding: 10px;
}

.printtable td{
  height: 50px !important;
}