table {
  width: 100%;
}

table * {
  width: 100%;
}

table .name {
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-bottom: 1px solid var(--hover-gray, #eaecf0);
}

table .type {
  display: flex;
  padding: 12px 24px;
  align-items: center;
  align-self: stretch;
}
