@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  background: #f5f6fa;
}

.page-header {
  display: flex;
  height: 68px;
  padding: 14px 34px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: #fff;
  border-bottom: 2px solid #eee;
}

.page-header p {
  color: var(--text, #202224);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.114px;
}

.saleUploadDetails {
  display: inline-flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 24px;
  background: #fff;
  height: fit-content;
  width: 563px;

  /* CARDS */
  box-shadow: 0px 10px 13px 0px rgba(17, 38, 146, 0.05);
}

.saleUploadDetails h1 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 175%; /* 35px */
}

.saleUploadDetails p {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%; /* 28px */
}



.uploadbox {
  display: flex;
  height: 240px;
  padding: 8px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  border: 1px dashed var(--blue-gray, #667085);
  background: #fff;
  margin:auto
}
.uploadbox svg {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.uploadbox h1 {
  color: var(--blue-gray, #667085);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0 0.3px;
}

.uploadbox p {
  color: var(--blue-gray, #667085);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 00.3px;
}

.cancelbtn {
  width: fit-content;
  display: flex;
  padding: 6.693px 20.078px;
  align-items: center;
  gap: 6px;
  border-radius: 26px;
  box-shadow: 0px 1.673px 3.346px 0px rgba(58, 87, 232, 0.3);
  color: #aaa;
}

.uploadbtn {
  display: flex;
  padding: 6.693px 20.078px;
  align-items: center;
  gap: 6px;
  border-radius: 26px;
  background: #4880ff;
  box-shadow: 0px 1.673px 3.346px 0px rgba(58, 87, 232, 0.3);
  color: white;
}

input, textarea {
  padding: 10px 16px;
  border-radius: 10px;

}


.pagecontenthorizontal {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 8px 8px 16px 8px;
  justify-content: center;
  gap: 12px;
  align-self: stretch;
}

.avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.product-description {
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.card img {
  width: 256px;
  height: 152px;
  object-fit: cover;
  object-fit: contain;
}

/* Add this to your CSS */
html,
body {
  background-color: white; /* Or any color of your choice */
  margin: 0;
  height: 100%;
}



input:focus,textarea:focus{
  border: none;
  outline-color: green;
  outline:1px solid orange
}