#print .pagecontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#print .pagecontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  background: #f5f6fa;
}

#print .ordersbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px solid #f2f1f8;
  background: #fff;
}
